asttokens==2.2.1
backcall==0.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
colorama==0.4.6
curl-cffi==0.4.0
decorator==5.1.1
executing==1.2.0
idna==3.4
ipython==8.11.0
jedi==0.18.2
markdown-it-py==2.2.0
matplotlib-inline==0.1.6
mdurl==0.1.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
prompt-toolkit==3.0.38
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pyfiglet==0.8.post1
Pygments==2.14.0
requests==2.31.0
rich==13.3.2
six==1.16.0
stack-data==0.6.2
terminal-img==0.0.3
traitlets==5.9.0
urllib3==1.26.15
wcwidth==0.2.6
